/nbproject/
/web/bundles/
/web/assetic/
/web/assets/
/assetic/
/web/js/
/web/fonts/
/web/images/
/web/css/
/app/bootstrap*
/compiler*
/app/cache/**
/app/logs/**
/vendor/
/.vagrant/
/app/config/parameters.yml
/app/Resources/dump/**
/app/Resources/public/assets/**
!.gitkeep
!/app/bootstrap.php.cache
