{% block group_form %}
    <div id="group_form">
        <div class="form-group">
            <label for="group-type" class="col-sm-2 control-label">Entity Type</label>
            <div class="col-sm-10">
                <select name="group-type" class="form-control">
                    <option value="" selected disabled>Select a Type</option>
                    <option value="action">Action</option>
                    <option value="localisation">Localisation</option>
                    <option value="module">Module</option>
                    <option value="participant">Participant</option>
                    <option value="section">Section</option>
                    <option value="theme">Theme</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="group-field" class="col-sm-2 control-label">Field</label>
            <div class="col-sm-10">
                <select name="group-field" class="form-control">
                    <option value="" class="field-all" selected disabled>Select a Field</option>
                    <option value="id" class="field-action field-localisation field-module field-participant field-section field-theme">ID</option>
                    <option value="localisation" class="field-action field-participant" >Localisation ID</option>
                    <option value="role" class="field-participant" >Role</option>
                    <option value="module" class="field-action">Module ID</option>
                    <option value="participant" class="field-action">Participant ID</option>
                    <option value="section" class="field-module">Section ID</option>
                    <option value="theme">Theme ID</option>
                    <option value="isoAlpha2" class="field-localisation">IsoAlpha2</option>
                    <option value="isoAlpha3" class="field-localisation">IsoAlpha3</option>
                    <option value="state" class="field-localisation">Country</option>
                    <option value="city" class="field-localisation">City</option>
                    <option value="date" class="field-action">Date</option>
                    <option value="day" class="field-action">Day</option>
                    <option value="hour" class="field-action">Hour</option>
                    <option value="category" class="field-action field-module">Activity</option>
                </select>
            </div>
        </div>
    </div>
{% endblock %}