{% block navigation %}
    <ul class="nav nav-pills nav-stacked" id="navigation-type">
        <li role="presentation" class="active"><a href="#" data-navigation="type" data-navigation-type="map">Map</a></li>
        <li role="presentation"><a href="#" data-navigation="type" data-navigation-type="graph">Graph</a></li>
    </ul>
    <hr />
    <ul class="nav nav-pills nav-stacked" id="navigation-datatype">
        <li role="presentation" class="active"><a data-navigation="datatype" href="#" data-navigation-datatype="participant">Participant</a></li>
        <li role="presentation"><a  href="#" data-navigation="datatype" data-navigation-datatype="actions">Actions</a></li>
    </ul>
    <hr />
    <button type="button" id="add-trace" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#trace-modal">Add Trace</button>
{% endblock %}