{% block navigation %}
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">Map</a></li>
        <li role="presentation"><a href="#">Graph</a></li>
    </ul>
    <hr />
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">Apprenant</a></li>
        <li role="presentation"><a href="#">Localisation</a></li>
    </ul>
    <hr />
    <button type="button" class="btn btn-success btn-lg btn-block">Add Trace</button>
{% endblock %}