{% extends "::base.html.twig" %}

{% block title %}PfeGPlaceApiBundle:Default:searchLocality{% endblock %}

{% block body %}
    <h1>Welcome to the Default:searchLocality page</h1>
    <div>{{ result }}</div>
{% endblock %}
