{% extends "::base.html.twig" %}

{% block title %}PfeGPlaceApiBundle:Default:searchLocality{% endblock %}

{% block body %}
    <h1>Welcome to the Default:searchCountryByCode page</h1>
    <pre>{{ dump(result) }}</pre>
{% endblock %}
